# Python: Data Structures

### List
- A List can store a sequence of objects.
- There objects can be of various types.

In [1]:
myList = ["Hello", 12, "world", 99.995, "me"]    # A List can have both String and integer values.
print(myList)
type(myList)

['Hello', 12, 'world', 99.995, 'me']

list

#### A List be Indexed in the same way as strings

In [2]:
print(myList[0])
print(myList[1:4])
print(myList[-1])

Hello
[12, 'world', 99.995]
me

In [3]:
print(myList[2:])

['world', 99.995, 'me']

#### List can be concatenated like string

In [4]:
a = [1, 2, 3]
b = ["A", "B", "C"]
c = ["A", 500, "C"]

In [5]:
b + c

['A', 'B', 'C', 'A', 500, 'C']

In [6]:
a + b + c

[1, 2, 3, 'A', 'B', 'C', 'A', 500, 'C']

#### more on List

In [7]:
myList = ["Banglore", "Delhi", "Chennai", 2000, 3000.56, "Cool"]
len(myList)   # Reture number of element in list

6

#### Removing items from a list
       An object can be remove from the list by using del(), remove(), pop() functions.

In [8]:
del(myList[5])
myList

['Banglore', 'Delhi', 'Chennai', 2000, 3000.56]

In [9]:
myList = ["Hello", 34, "World", 45.6]
myList.remove(34)
print(myList)

['Hello', 'World', 45.6]

In [10]:
list1 = [2,3,4,5,7,8]
list1.pop(4)     # Here the argument refers to the positional value.
print(list1)

[2, 3, 4, 5, 8]

#### Checking for an existance of an element in the list

In [11]:
4 in list1

True

In [12]:
"World" in myList

True

In [13]:
"World" in list1

False

In [15]:
"World" not in myList

False

In [17]:
"World" not in list1

True

#### Max and Min

      we can check the maximum and minimum value in the list by using max() and min() function.

In [21]:
myList = [1,2,3,4,5,6,7]

print("max: ",max(myList))
print("min: ",min(myList))

max:  7
min:  1

#### Note: 
  max() and min() function only work with integers. A list cannot use with string.

## Appending, Extending and Inserting in List

### Appending

In [28]:
l1 = [1,2,3,4]
l1.append(6)
print(l1)

[1, 2, 3, 4, 6]

In [32]:
l1.append([4,9,5])                          # append(values)
print(l1)

[1, 2, 3, 4, 6, [4, 9, 5]]

#### Extending

In [33]:
l2 = [1,2,3,4,5]
l2.extend([6,4,6,8])                             # extend(values)
print(l2)

[1, 2, 3, 4, 5, 6, 4, 6, 8]

#### Inserting

In [34]:
l3 = [1,2,3,4,5]
l3.insert(2,99)                      # insert(index,value)
print(l3)

[1, 2, 99, 3, 4, 5]

### Sorting a list

In [40]:
l1 = [88,33,45,67,33,23,45,67,550]
l1.sort()                       # sort() function only return sorted arrary it can change in orignal array.
print(l1)

[23, 33, 33, 45, 45, 67, 67, 88, 550]

In [41]:
l2 = [88,33,45,67,33,23,45,67,550]
print(sorted(l2))                 # sorted() function only return sorted arrary it cannot change in orignal array.
print(l2)

[23, 33, 33, 45, 45, 67, 67, 88, 550]
[88, 33, 45, 67, 33, 23, 45, 67, 550]

#### Reassigning the value of the list element

In [42]:
print(l2)
l2[3] = 99
print(l2)

[88, 33, 45, 67, 33, 23, 45, 67, 550]
[88, 33, 45, 99, 33, 23, 45, 67, 550]

## Tuples
######         Tuples are very similar to lists

In [45]:
myTup = ('welcome', 21.223, "hello world", 45)
print(myTup)
print(type(myTup))

('welcome', 21.223, 'hello world', 45)
<class 'tuple'>

### How are list and tuples different?
- Elements in a tuple cannot be edited once assigned.
- A tuple cannot be appended to or extended in anyway.
- A tuple is immutable.
- Lists are mutable.
- You can expand list to include more objects.
- Tuples are indexed aimilaer to lists

In [50]:
print(myTup[0])
print(myTup[1:4])
print(myTup[-3])
print(myTup[2:])

welcome
(21.223, 'hello world', 45)
21.223
('hello world', 45)

## Dictionaries
- A dictionary is a type of collection which consists of key, vaalue pairs.
- The keys and values can be of any type.
- A dictionary is indexed through the keys.

In [52]:
ex_di = {"JJ":25, "DD":50, "EE":44, 1: 34}
print(ex_di)
print(ex_di['JJ']) # a dictionary is indexed through the assigned keys.

{'JJ': 25, 'DD': 50, 'EE': 44, 1: 34}
25

## Sets
- A set is an unordered collection data type that is iterable, mutable, and has no duplicate elements.

In [55]:
s = {'a','b','c','d','e','f','g','a','d','e'}
s

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}